.head {
float:left;
width:100%;
padding:15px 20px;
top:0;
left: 0;
position: fixed;
}

.Pname {
margin-left:35px;
float: left;
font-size: 25px;
}
.options {
margin-right:10px; 
float: right;
font-size: 20px;
}
.popbase a{
    display:  inline-block;
}
.options a span{
padding:0px 20px 0px 5px;
text-decoration:none;
}

.slideToggle{
    display: none;
    padding:0px 8px 2px 8px;
    margin-right: 20px;
    float: left;
    font-size: 20px;
}
.popup{
    display: none;
    padding:7px 10px;
    margin-right: 35px;
    float: right;
    font-size: 40px;
    left:0;
}
.searchToggle{
    display: none;
    padding:7px 10px;
    margin-right: 10px;
    float: right;
    font-size: 40px;
    left:0;
}

.slidenav {
  height: 100%;
  width: 250px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  margin-top: 50px; /* Stay at the top */
  left: 0; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 30px; /* Place content 60px from the top */
 padding-bottom: 100px;/* Place content 60px from the top */
  transition: 0.5s;
}
.slidenav a{
    padding: 8px 8px 8px 32px;
  display: block;
  transition: 0.3s;
}
.slidenav span{
padding: 0px 0px 8px 0px;
}

.home{
    float:left;
    left:0;
    top:0;
    position: static;
    padding-top: 60px;
    margin-left:242px;
    
}

.searchBox input{
    padding-left:5px;
    width:87%;
}
.searchBox {
float: right;
padding:10px 15px;
width: 100%;
}

.searchCon{
    float: right;
    margin-top: -8px;
    margin-right: 35px;
    padding: 0;
    width: 30%;
}
.searchCon .fa-arrow-left{
    display:none;
    margin-top: 8px;
}

.carousel_container {
width: calc(100%-100px);
height:auto;
margin:50px;
}
.image {
float:left;
width:56%;
height: 100%;
}

.carousel_picture{
float: left;
height:100%;
transition:0.3s;
}
.carousel_picture[active="true"]{
    width:100%;
}
.carousel_picture[active="false"]{
    width:0%;
}
.carousel_picture img{
    width: 100%;
    height:100%;
}

.desc {
float:left;
width:44%;
height: 100%;
transition: 0.4s;
}

.arrows{
    width: auto;
    padding:20px;
    -khtml-user-select: none;
    -moz-user-select:none;
    -webkit-user-select: none;
}
.arrows span.fa-arrow-left,.arrows span.fa-arrow-right{
    width:10%;
    font-size:25px;
    padding-right:10px;
}
.dots{
    float:right;   
}
.dots .circle{
    float:right;
    height: 10px;
    width: 10px;
    
    
    border-radius:5px;
    margin-right: 10px;
    transition: 0.3s;
}
.circle[active="false"]{
        background: transparent;
        border: 1px solid #fff;
        
}
.circle[active="true"]{
        background: #fff;
        border: 1px solid transparent;
}

.carousel_text{
    transition: 0.3s;
}
.carousel_text[active="true"]{
    height:auto;
    padding:20px 20px;
    margin-bottom:20px;
    opacity:1;
}
.carousel_text[active="false"]{
    height:0px;
    overflow: hidden;
    opacity:0;
    padding: 0px;
margin-bottom:0px;
}
.carousel_text h1{
    margin:0px 0px;
}
.carousel_text a{
    font-weight:bold;
    text-decoration: none;
    
}
.carousel_text p{
    font-size:20px;
}
.horizontal-list{
    width:100%;
    float:left;
    background: transparent;
}
.horizontal-list h2{
    float: left;
    margin-left: 20px;
    font-family: sans-serif;
}
.horizontal-list .cards{
    width: calc(100%-20px);
    float: left;
}
.cardA,.cardB,.cardC,.cardD,.cardE{
    width:17%;
    margin-left:1%;
    margin-right:1%;
    float:left; 
}
.card img{
    width:100%;
}
.card h3{
    margin: 10px 0px;
    text-align: center;
}

.bottom{
    margin-top:30px;
    padding: 20px 0px;
   width:100%;
    float:left;
}
.bottom .fa a{
    font-size: 50px;
    margin-left: 30px;
    transition: 0.3s
}
@media(max-width:992px){
    .cardA,.cardB,.cardC,.cardD{
        width:23%;
        margin-left:1%;
        margin-right:1%;
    }
    .cardE{
        width: 0px;
        display: none;
    }
    .image,.desc{width: 100%;}
    .desc{height:auto;}
    .carousel_container{
    margin-bottom:300px;
    }
}

@media (max-width:768px){
    .cardA,.cardB,.cardC{
        width:31%;
        margin-left:1%;
        margin-right:1%;
    }
    .cardE,.cardD{
        width: 0px;
        display: none;
    }
    .slideToggle,.popup,.searchToggle{
        display: block;
    }
    .Pname{margin-left: 0px;}
    .options{
        transition-delay:0.5s;
        padding: 10px;
        margin-left:-20px;
        float:right;
        position:fixed;
        margin-top: 40px;
        width: 100%;
        height:100%;
    }
    .options[display="none"]{
        opacity:0;
        display:none;}
    .options[display="block"]{
        opacity:1;
        display:block;}
    .searchBox  {
    float: left;
    width: 80%;
    }
    .searchCon .fa-arrow-left{
        float:left;
        display: block;
        width:30px;
        font-size:25px;
    }
    .searchCon{
    padding:15px;
    left:0; 
    top:0; 
    position: fixed;
    width: 100%;
    }
    
    .searchCon[display="none"]{
        display:none;}
    .searchCon[display="block"]{
        display:block;}
    .popbase{
        overflow: hidden;
        padding:5px 10px 10px 10px;
        float: right;
        width: 110px;
        transition: 0.5s;
        margin-right:40px;
    }
    .options a{
        transition:0.3s;
        padding:10px 2px;
        width: 100%;
    }
    .home{
        left:0;
        margin-left: -8px;
        
        
        }
    .slidenav[expand="false"]{
        overflow: scroll;
        width: 0px;}
    .slidenav[expand="true"]{  
        width: 70%;
    }
    .slidenav a{
        padding: 8px 20px;
        width:100%;
    }
    .hidenable{
        display: none;
    }
}
