#base{
    margin-left: 200px;
}
#sidenav {
   height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #222;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 70px; 
}

.blank-btn{
    background: none;
    color:#888;
    transition: 0.3s;
}
.blank-btn:hover{
    
    color:#ddd;
}
#sidenav a {
  text-align:center;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.2s;
  background:linear-gradient(90deg,#222,#222);
  margin-right:100px;
}

#sidenav a:hover {
  color: #000;
  background: linear-gradient(90deg,#222,#ddd);
  border-radius:10px 30px 30px 10px;
  margin-right:40px;
}
.card-container{
  float: left;
    width:100%;
}
.fix-card{
    float:left;
   margin:8px;
    padding:7px;
    border-radius:5px;
    background: #204d74;
    float: left;
    width:200px;
    box-shadow:2px 2px 3px;
}
.search-toggle {
padding:8px;
margin:8px;
float:right; 
font-size:18px;
background: transparent;
color: #888;
}

.search-toggle:hover {
color:#ccc;
}
.search-box {
width:50%; margin:10px 0px;
float: left;
}
.search-box input[type="text"]{
    color:#333;
    width:90%;
    padding:5px 6px;
    border:none; 
    border-radius:15px 0px 0px 15px;
    font-weight: bolder;
    background: linear-gradient(178deg,#aaa,#eee)
}
.search-box button{
    color:#aaa;
    width:10%;
    padding:5px 0px;
    border:none;
    border-radius:0px 15px 15px 0px;
    
    margin-left:-4px;
    background: linear-gradient(-173deg,#888,#444,#282828);
}
@media (min-width:605px){
    .search-toggle{display: none;}
}
@media (min-width: 768px){
    .nav-bg{background:linear-gradient(#3c3c3c,#222);}
}
@media (max-width: 767px) {
.search-box{display: none;}
    #base{
    margin-left: 0px;
}
#navbar{
padding:0px;
position: static;
background: #222;
float: right;
margin-left: 20px; 
}
#navbar div{
    float: left;
    margin:0px;
    border:none;
}
#navbar div a{
width: 51%;
float: left;
text-align: center;
}
#navbar div a:hover{
    color:#222;
width: 90%;
background: linear-gradient(90deg,#222,#aaa);
border-radius: 0px 30px 30px 0px;
}
}

.slidable:after,.slidable:before{
     
    display: table;
  content: " ";
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

