.head{ background:#9933cc;}
.head{ color: white;}

/*customised theme of scroll bar*/
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(#0ff,#00f,#0ff);
  border-radius: 5px;

}
::-webkit-scrollbar-thumb:hover {
  background: #eee; 
  box-shadow:0px 0px 2px;
}
/*customised theme of scroll bar*/

.head img{
     border-radius:20vw;
}
.uname i{color:#fff;}
.uname i:hover{text-shadow:0px 0px 4px;}
.Pname a{color: #fff; text-decoration:none;}
.Pname a:hover{color: #fff; text-shadow:0px 0px 4px #bbb ;}
.options a{
color: #fff;
}
.message{
 background: linear-gradient(-65deg,rgba(000,255,255,0.84),rgba(000,255,255,0.84),rgba(000,255,000,0.84));   
}
.options a:hover{color: #fff;
text-shadow:0px 0px 2px #bbb;
}
.slideToggle,.popup,.searchToggle{
    color: #fff;
    border:none;
    border-radius: 5px;
    box-shadow:0px 0px 3px;
    background: transparent;
}
.searchBox{
border-radius:5px;
background:#639;
color:#fff;
}
.searchBox input::placeholder{
    color:#bbb;
}
.searchBox input{
    font-size: 15px;
    background: transparent;
    border: none;
    color: #fff;
    font-weight: 600;
}
.popbase a{
    text-decoration: none;
}
.slidenav{
    background: #33b5e5;
}
.slidenav a:hover{
    color: #fff;
    background:linear-gradient(90deg,#33b5e5,#09c,#09c,#09c);
    border-radius:0px 20px 20px 0px;
    text-shadow:0px 0px 3px #0be;
}
.slidenav a{
    padding-left:0px;
    color: #fff;
    background:linear-gradient(90deg,#33b5e5,#33b5e5,#33b5e5,#33b5e5);
    font-family: sans-serif;
    text-decoration: none;
  font-size: 25px;
  transition:0.3s;
  
}
.carousel_picture{
background:#fff;
}
.desc{
background: #280069;
}
.slidenav span{
    color:transparent;
}
.body .form{
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #ccc;
}
.body .form h2{
    font-family: sans-serif;
    color: #00a5c5;
    text-align: center;
}
.outer button{
    border: none;
    color:#fff;
    border-radius: 10px;
        opacity:0.9;
}
.outer button:hover{
opacity: 1;
}
#register form input,#Login form input{
    border: none;
   border-radius:5px;
background: #f1f1f1;
color:#000; 
}
#register form input:focus,#Login form input:focus{
    border-radius:5px;
background: #ddd;
letter-spacing:1px;
}
#register form input::placeholder,#Login form input::placeholder{
   color:#888;
   font-weight:bold;
}
#register form button,#Login form button{
     border: none;
   border-radius:5px;
background:#33b5e5;
color:#fff;
font-weight:bold; 
}
#register form button:hover,#Login form button:hover{

    background:#09c;
}
#register form a,#Login form a{
    color: #3ae;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bolder;
    transition: 0.3s;
}

#register form a:hover,#Login form a:hover{
    color: #38a;
    text-decoration: underline;
}
input:focus{outline: none;}
.carousel_text *{
     font-family: sans-serif;
    color:#fff;
}

.fixed-container form[target="buy"] button{
    background: #5c3;
    color: #FFF;
    font-weight: 600;
}
.fixed-container form[target="Addcart"] button{
    background: #5c0;
    color: #fff;
}
.header .head h3{
    color: #FFF;
    font-family: sans-serif;
    font-style: oblique;
}

.horizontal-list{
    background: transparent;
    
    
}

.arrows{
    color: #ddd;
}
.arrows span:hover{
    color:#fff;
    text-shadow:0px 0px 3px #ddd;
}


.card img{
    border-radius:7px;
}

.hidable li[state="active"]{
     background:linear-gradient(90deg,#33b5e5,#55bfef,white);
    border:1px solid;
    border-color:transparent white transparent #25a5d5;
    
}
.hidable li[state="inactive"]{
 background: #33b5e5;
    border:0.5px solid #25a5d5;
    
}
.side-one li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.bottom{
        background:linear-gradient(#118595,#118595,#22a5d5,#33b5e5);
        color: #fff;
}
.bottom h3{
    font-family: sans-serif;
    font-style: oblique;
}
.bottom .fa a{
    text-decoration: none;
    color: #fff;
}
.bottom .fa a span{
    padding:10px;
    border-radius:15px;
}
.bottom .text a{
    text-decoration: none;
    color: #f5f5f5;
    transition: 0.3s;
    font-weight:600;
}
.bottom .text a:hover{
    color: #fff;
    
}
span[onColor="red"]:hover{
    background:#d22;
}
span[onColor="blue"]:hover{
    background:#22d;
}
span[onColor="cyan"]:hover{
    background:#2dd;
}
span[onColor="black"]:hover{
    background:#000;
}
span[onColor="cyan-blue"]:hover{
    background:linear-gradient(120deg,#00f,#0ff);
}
span[onColor="Lblue"]:hover{
    background:#29d;
}

span[Color="red"]{
    background:#d22;
}
span[Color="blue"]{
    background:#22d;
}
span[Color="cyan"]{
    background:#2dd;
}
span[Color="black"]{
    background:#000;
}
span[Color="cyan-blue"]{
    background:linear-gradient(120deg,#00f,#05f,#00fefe);
}
span[Color="Lblue"]{
    background:#29d;
}
.form-container input{
border:none;
background: #eee;
font-weight: 700;
padding: 10px;
border-radius: 5px;
}
.form-container button[type="submit"]{
border:none;
background: #5fae05;
color: #fff;
font-weight: 500;
padding:10px 15px;
border-radius: 5px;
}
.form-container button[type="delete"]{
border:none;
background: #aa002d;
color:#fff;
font-weight: 700;
font-style: italic;
padding:10px 15px;
border-radius: 5px;    
}
.form-container button[type="reset"]{
border:none;
background: #555;
color: #fff;
font-weight: 500;
padding:10px 15px;
border-radius: 5px;
}
.card{
    border:none;
    box-shadow: 0px 0px 3px;
    
    background: #fff;
    
}
.card span{
    border-radius:10px;
    color: white;
    
}
.card button{
    border: none;
    background-color: #222;
    color: #fff;
}
.card button:hover{
    background-color: #444;
}
.card button:active{
    background-color: #000;
}
.payment-way{
    background: #ddd;
    border-radius: 10px;
}
.form-container .note{
    color: #b52535;
}
.part ul li.lhead{
    box-shadow: 0px 0px 2px;
    border-radius: 12px 12px 5px 5px;
}
.part ul li.lbody{
    box-shadow: 0px 0px 2px;
    border-radius: 5px 5px 5px 5px;
}
.part ul li.lfoot{
    box-shadow: 0px 0px 2px;
    border-radius: 5px 5px 12px 12px;
}
.fa-close{
    color: #d00;
}
.fa-close:hover{
    color: #f22;
}
.slidable li span.icon{
       
        border-radius: 0px 20px 20px 0px;
    }


body{
   
    background-image: url('http://localhost:8383/HTML5ApplicationManual/Pic/products/bg.jpeg');
    background-size:100%;
    
}
.body{background: rgba(255,255,255,0.84);}

/*table home theme added*/

.tab_host .tabs button{
    border-color: #fff;
    background: linear-gradient(#333,#555,#555);
    border-radius: 0px 0px 50px 50px;
    font-weight: 900;
    color: #fff;
    transition: 0.1s;
}
.tab_host .tabs button:focus{
    outline: none;
}
.tab_host .tabs button[active="true"]
,.tab_host .tabs button:active {
    background: linear-gradient(#333,#555,#fff);    
    border-radius: 50px 50px 0px 0px;
}
.tab_host{
    background: white;
}
.tab_host .tab_body{
    margin-bottom: 10px;
    border: 1px solid grey;
    border-top:white;
    border-radius: 0px 0px 10px 10px;
}
.tab_host .tab_body table th{
    border-right: 1px solid white;
    background: linear-gradient(#777,#222,#222,#777);
    color: white;
}
.tab_host .tab_body table tr{
    border-bottom: 1px solid #ddd;
}
tab_host tab_body table button{
    background: linear-gradient(#777,#222,#222);
    color: white;
}
/*blue*/
.tab_host[theme="blue"] .tabs button{
    background: linear-gradient(#0082b2,#33b5e5,#33b5e5);
}
.tab_host[theme="blue"] .tabs button[active="true"]
,.tab_host[theme="blue"] .tabs button:active {
    background: linear-gradient(#0082b2,#33b5e5,#fff);    
   
}
.tab_host[theme="blue"] .tab_body table th{
  background: linear-gradient(#33b5e5,#0082b2,#0082b2,#33b5e5);
}
.tab_host[theme="blue"] .tab_body table button{
    background: linear-gradient(#33b5e5,#0082b2,#0082b2);
    color: white;
}
/*green*/
.tab_host[theme="green"] .tabs button{
    background: linear-gradient(#009212,#33d555,#33d555);
}
.tab_host[theme="green"] .tabs button[active="true"]
,.tab_host[theme="green"] .tabs button:active {
    background: linear-gradient(#009212,#33d555,#fff);    
   
}
.tab_host[theme="green"] .tab_body table th{
  background: linear-gradient(#33d555,#009212,#009212,#33d555);
}
.tab_host[theme="green"] .tab_body table button{
    background: linear-gradient(#33d555,#009212,#009212);
    color: white;
}
/*saffron*/
.tab_host[theme="saffron"] .tabs button{
    background: linear-gradient(#940,#c60,#f93);
}
.tab_host[theme="saffron"] .tabs button[active="true"]
,.tab_host[theme="saffron"] .tabs button:active {
    background: linear-gradient(#940,#c60,#fff);    
   
}
.tab_host[theme="saffron"] .tab_body table th{
  background: linear-gradient(#f93,#940,#940,#f90);
}
.tab_host[theme="saffron"] .tab_body table button{
  background: linear-gradient(#f93,#940,#940);
  color: white; 
}
/*margenta*/
.tab_host[theme="margenta"] .tabs button{
    background: linear-gradient(#609,#93c,#93c);
}
.tab_host[theme="margenta"] .tabs button[active="true"]
,.tab_host[theme="margenta"] .tabs button:active {
    background: linear-gradient(#609,#93c,#fff);    
   
}
.tab_host[theme="margenta"] .tab_body table th{
  background: linear-gradient(#bf5fef,#609,#609,#bf5fef);
}
.tab_host[theme="margenta"] .tab_body table button{
  background: linear-gradient(#bf5fef,#609,#609);
  color: white;
}
.blur_pop .form-center input,
.blur_pop .form-center div.dropdown div.modified,
.blur_pop .form-center button,
.blur_pop .confim button{
    border:none;
    color: #222;
    background: white;
}
.blur_pop .form-center,.blur_pop .confim{
    color: white;
    background: black;
}
.blur_pop .confim[theme="margenta"]{
    background: linear-gradient(15deg,#bf5fef,#609,#609,#bf5fef);
}
.blur_pop .confim[theme="green"]{
    background: linear-gradient(15deg,#33d555,#009212,#009212,#33d555);
}
.blur_pop .confim[theme="blue"]{
    background: linear-gradient(15deg,#33b5e5,#0082b2,#0082b2,#33b5e5);
}
.blur_pop .confim[theme="saffron"]{
    background: linear-gradient(15deg,#f93,#940,#940,#f90);
}
.blur_pop .form-center[theme="margenta"]{
    background: linear-gradient(15deg,#bf5fef,#609,#609,#bf5fef);
}
.blur_pop .form-center[theme="green"]{
    background: linear-gradient(15deg,#33d555,#009212,#009212,#33d555);
}
.blur_pop .form-center[theme="blue"]{
    background: linear-gradient(15deg,#33b5e5,#0082b2,#0082b2,#33b5e5);
}
.blur_pop .form-center[theme="saffron"]{
    background: linear-gradient(15deg,#f93,#940,#940,#f90);
}

.blur_pop .form-center .boolean *{
    background: rgba(255,255,255,0);
    border: 1px #bbb solid;
    color: #fff;
    transition: 0.2s
}
.blur_pop .form-center .boolean *:hover{
    cursor: pointer;
    background: rgba(255,255,255,0.2);
}
.blur_pop .form-center .boolean[value="true"] .yes{
    background: #fff;
    color: #333;
}
.blur_pop .form-center .boolean[value="false"] .no{
    background: #fff;
    color: #333;
}

@media (max-width:768px){
    .popbase{
        border: solid;
        color:#fff;
        border-width:8px 8px;
        border-radius:18px 0px 18px 18px;
        border-color:transparent transparent;
        background: #93c;
        
    }
    
    .slidenav a:hover{
    background:linear-gradient(90deg,#33b5e5,#09c,#09c,#09c,#33b5e5);
    border-radius:0px 0px 0px 0px;
    }
    
[span-color="green"] span{
    background: #3c3;
}
[span-color="blue"] span{
    background: #33c;
}
[span-color="red"] span{
    background: #c33;
}
    .searchCon .fa-arrow-left{
        background:none;
        color: #fff;}
    .searchCon{
        background: #93c;
    }
}