.head{background:#222;}
.Pname a{color: #ccc; text-decoration:none;}
.options a{color: #bbb;}
.slideToggle,.popup,.searchToggle{
    color: #ccc;
    border:none;
    border-radius: 5px;
    box-shadow:0px 0px 2px;
    background: #282828;
}
.searchBox{
background:#191919;
color:#ddd;
}
.searchBox input{
    font-size: 15px;
    background: transparent;
    border: none;
    color: #ddd;}
.popbase a{
    text-decoration: none;
}
.slidenav{
    background: #222;
}
.slidenav a{
    color: #818181;
    text-decoration: none;
  font-size: 25px;
}
.slidenav span{
    color:transparent;
}
.home{
    background: pink;
}
input:focus{outline: none;}
@media (max-width:768px){
    .popbase{
        border: solid;
        color:#fff;
        border-width:8px 8px 0px 0px;
        border-radius:0px 0px 0px 0px;
        border-color: #fff #222 transparent transparent;
        background: #222;
        
    }
}
