.head{position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
.head img{
    margin-left: 40vw;
    margin-right: 40vw;
    width:20vw;
    height: 20vw;
    
    border-radius:20vw;
}
.head .uname{
    margin: 0px;
    margin-bottom: 20px;
    width: 100vw;
    font-size: 28px;
    font-weight: bolder;
    padding: 10px 0px;
    text-align: center;
    font-family:  sans-serif;
}
/* expandable head end*/

.side-one{
    position: fixed;
  
}
.side-one ul{
    list-style-type: none;
    padding-left: 0px;
    margin:20px 0px;
}
.side-one li {
  padding: 7px;
  width:120px;
  transition: 0.3s;
}
.hidable li{
    padding-left: 40px;
}
.slidable li.for-mobile{
    display: none;
}
.slidable li{
    padding-left: 30px;
    margin-top: 20px
}
.slidable li a span{
   padding-right: 10px;
}
/* side nav list end*/

.body{
        height:auto;
    margin-left:160px;
    float: left;
}
/* navigation div start */
.part{
    margin-left:30px;
    padding-top:110px;
    float:left;
}
.part h2{
    float: left;
}
.part table,
.part table tr{width: 100%;
    float: left;
    width: auto;
    margin-bottom:5px;
}
.part table tr{
    padding: 10px;
}
/* navigation div end */


/*transferable to theme*/

.form-container{
    width: 100%;
    float: left;
}
.form-container p{
    margin-top: 0px;
    font-size: 15px;
    font-family: sans-serif;
    letter-spacing: 0.5px;
}
.form-container .note{
    font-weight: 800;
}
.form-container .note:before{
    content: "NOTE: "
}
.form-container button,.form-container input{
    float: left;
    margin-right: 10px
}
.form-container form.half{
    width: 50%;
    float: left;
    margin-bottom: 15px;
}
.form-container form.full{
    width: 100%;
    float: left;
    margin-bottom: 10px;
}
form.full input[width="auto"]{
    width: auto;
    float: left;
    margin-right: 5px;
    margin-bottom: 10px
}
form.full input[width="half"]{
    width: 46%;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}
form.full input[width="more-half"]{
    width: 46%;
    margin-right: 46%;
    margin-bottom: 10px;
    float: left;
}

.card-container{
    float: left;
    width: 100%;
}
.card{
    float: left;
    padding: 20px 30px;
    margin: 10px 20px;
}
.card span{
    float: left;
    padding: 10px;
    width: 45px;
    text-align: center;
    font-size:25px;
    margin:20px 14px;
}
.card button{
    margin-top: 10px;
    padding:10px;
    font-weight:700;
    text-align: center;
    width: 95px;
    
}

.payment-way{
    float: left;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.payment-way h4{
    float: left;
}

@media (max-width:992px){
 form.full input[width="half"]{
    width: 95%;
    margin-right: 0px;
  
}
 form.full input[width="more-half"]{
    width: 95%;
    margin-right: 0px;
  
}
 form.full input[width="auto"]{
    width: 44.5%;
    margin-right: 10px;
  
}
.form-container form.half{
    width: 100%;
    margin: 5px 0px;
    float: left;
}
}

@media (max-width:768px){
     form.full input[width="auto"]{
    
    margin-right: 0px;
}
    .hidable{
        display: none;
    }
    .slidable li{
        margin-top:30px;
        padding-left: 0px;
        width:auto; 
    }
    .slidable li.for-mobile{
    display: block;
}
    .slidable li span{
        padding:10px;
    }
    

    .slidable li span.text{
        display: none;
        overflow:hidden;
        transition: 0.3s;
        
                
        border-radius: 0px 20px 20px 0px;
    }
    .slidable li a:hover span.text{
        display: initial;
       }
    .slidable li a:hover span.icon{
       border-radius: 0px 0px 0px 0px;
       }
    .part{
        width: calc(100%-10px);
        margin-left: 10px;
    }
    .body{
        margin-left: -8px;
    }
}